# Python
__pycache__/
*.py[cod]
.venv/
*.egg-info/
.pytest_cache/
.ruff_cache/

# Node
node_modules/
dist/
build/
playwright-report/
test-results/

# Env
.env
!**/.env.example
.netlify/

# Infra
*.log
*.tsbuildinfo

# IDE
.idea/
.vscode/

# DB
*.db
